* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1280px;
  }
}
:root {
  --txt-color: rgb(1, 1, 26);
  --bg: #89cff0;
  --bg-input: rgba(17, 17, 193, 0.075);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg);
}
body.dark-mode {
  background-color: var(--txt-color);
  color: var(--bg);
  transition: 0.5s;
}
body.dark-mode header .container a ,
body.dark-mode .container button ,
body.dark-mode .container span
{
  color: var(--bg);
  transition: 0.5s;
}
body.dark-mode section .container input::placeholder{
  color: var(--bg);
  transition: 0.5s;
}
a {
  text-decoration: none;
}
header {
  padding: 30px 0;
}
header .container nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container img {
  width: 40px;
  cursor: pointer;
}
header .container nav ul li a {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: var(--txt-color);
}
section .container {
  text-align: center;
  padding-top: 170px;
}
section .container .input_user {
  display: flex;
  gap: 10px;
}
section .container .input_user input {
  flex: 1;
}
section .container .input_user input,
button {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--bg-input);
  padding: 10px;
}
section .container .input_user button {
  cursor: pointer;
}
section .container span{
  display: block;
  font-size: 40px;
  color: var(--txt-color);
  font-weight: bold;
  padding-top: 40px;
}